nav(id='navigation')
   ul
     a(href='/inventory')
       li Home
     a(href='')
       li Products
         ul
           a(href='/inventory/product')
             li View all products 
           a(href='/inventory/product/create')
             li Create new product
     a(href='')
       li Product Categories
         ul
           a(href='/inventory/productcategory')
             li View all product categories
           a(href='/inventory/productcategory/create')
             li Create new prod. category
     a(href='')
       li Producers
         ul
           a(href='/inventory/producer')
             li View all producers
           a(href='/inventory/producer/create')
             li Create new producer
     a(href='')
       li Vendors
         ul
           a(href='/inventory/vendor')
             li View all vendors
           a(href='/inventory/vendor/create')
             li Create new vendor
p
