nav(id='navigation')
   ul
     a(href='/inventory')
       li Home
     a(href='')
       li Products
         ul
           a(href='/inventory/products')
             li View all products 
           a(href='/inventory/products')
             li Create new product
     a(href='')
       li Product types
         ul
           a(href='/inventory/producttypes')
             li View all product types
           a(href='/inventory/producttypes')
             li Create new product type
     a(href='')
       li Producers
         ul
           a(href='/inventory/producers')
             li View all producers
           a(href='/inventory/producers')
             li Create new producer
     a(href='')
       li Vendors
         ul
           a(href='/inventory/vendors')
             li View all vendors
           a(href='/inventory/vendors')
             li Create new vendor
p
