extends layout

block content
    table.table
        thead
            tr.bg-light
                th(scope='col') Name
                th(scope='col') Count
            tr
                td
                    a(href='/inventory/products', title='Products') Products
                td
                    =data.product_count
            tr
                td
                    a(href='/inventory/productcategories', title='Product Categories') Product Categories
                td
                    =data.productcategory_count
            tr
                td
                    a(href='/inventory/producers', title='Producers') Producers
                td
                    =data.producer_count
            tr
                td
                    a(href='/inventory/vendors', title='Vendors') Vendors
                td
                    =data.vendor_count
