extends layout

block content
    h1= title

    table.table
        thead
            tr
                th(scope='col') Name
                th(scope='col') Type
                th(scope='col') Units in stock
        each product in product_list
            tr
                td= product.name
                td= product.type.name
                td= product.units_in_stock
        else
            tr.table-warning
                td(colspan=3) No products found.